@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(20, 20, 20);
  font-family: 'Source Code Pro', monospace;
}

#canvasDiv {
  display: block;
  width: 1000px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Source Code Pro', monospace;
}

form {
  text-align: center;
  font-size: 30px;
}
input {
  font-size: 30px;
  width: 500px;
  padding: 8px 12px;
  margin: 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
button {
  font-size: 30px;
  background-color: rgb(30, 30, 30);
    color: #d2d2d2;
    border: 2px solid #898989;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Source Code Pro', monospace;
}
button:hover,
button:active {
  background-color: #d2d2d2;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


.title {
  position: relative;
  text-align: center;
  font-size: 70px;
  padding: 0px;
}
.subtitle {
  position: relative;
  text-align: center;
  font-size: 45px;
  padding: 0px;
}

p {
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 40px;
  text-align: center;
  font-size: 30px;
}